{% load static %}

<!DOCTYPE html>
<html>
<body>

<div id="heroCarousel" class="container carousel carousel-fade" data-ride="carousel">
  <div class="carousel-item">
      <div class="carousel-container">
      <img src="{% static 'mysite/weather.jpg' %}" width="250" height="250" alt="Sorry No Image Found" />
      <h2 class="animated fadeInDown">Welcome to <span>Weather Forcast Application</span></h2>
        <a href="{% url 'index' %}" class="btn-get-started animated fadeInUp">Start</a>
    </div>
  </div>
</div>

</body>
</html>
