{% extends 'Base.html' %}
{% load static %}
{% block contnt %}

<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                What's the Weather Like?
            </h1>
        </div>
    </div>
</section>
<h5 align=right />Date: {{ td }}</h5>
<br/>


{% if wth.message == 'city not found' %}
    Indian City Not Found. 
{% elif wth.message == "invalid zip code" %}
    <div class="media-content">
        <img src="{% static 'mysite/weather.jpg' %}" class="rounded" width="400" length="00" align="center" alt="Sorry No Image Found" />
        <span align="right" class="badge bg-secondary">Insert Valid Zipcode.</span>
    </div>
{% elif wth.message != 'city not found' %}
    <p align="center"> 
        {% if ap.stations.0.AQI <= 100 %}
        <span class="border border-4 border-success"> &nbsp;Location: {{ap.stations.1.placeName}}, {{ap.stations.0.state}}, {{wth.sys.country}}&nbsp;</span>  
        {% elif 100 < ap.stations.0.AQI <= 150 %}
        <span class="border border-4 border-secondary"> &nbsp;Location: {{ap.stations.1.placeName}}, {{ap.stations.0.state}}, {{wth.sys.country}}&nbsp;</span>  
        {% elif 150 < ap.stations.0.AQI <= 200 %}
        <span class="border border-4 border-warning"> &nbsp;Location: {{ap.stations.1.placeName}}, {{ap.stations.0.state}}, {{wth.sys.country}}&nbsp;</span>  
        {% elif 200 < ap.stations.0.AQI <= 300 %}
        <span class="border border-4 border-danger"> &nbsp;Location: {{ap.stations.1.placeName}}, {{ap.stations.0.state}}, {{wth.sys.country}}&nbsp;</span> 
        {% elif 300 < ap.stations.0.AQI <= 500 %}
        <span class="border border-4 border-dark"> &nbsp;Location: {{ap.stations.1.placeName}}, {{ap.stations.0.state}}, {{wth.sys.country}}&nbsp;</span>
        {% endif %}
        <img src="http://openweathermap.org/img/w/{{ wth.weather.0.icon }}.png" alt="Image" style="width:50px;height:50px;"> <br><br>


        <div class="jumbotron Moderatex" align="center"> 
            <div class="row justify-content-center">
                <div class="col-4">
                    <align= "center">Weather: {{wth.weather.0.description.title}} <br></align>
                    <p>Air Quality Index: {{ap.stations.0.AQI}}<br> </p>
                    <p> Condition: {{ap.stations.0.aqiInfo.category}} </p>
                    <p> Ozone: {{ap.stations.1.OZONE}} </p>
                    
                </div>
                <div class="col-4" >
                    Minimum Temperature: {{wth.main.temp_min}}<br/>
                    Feels Like: {{wth.main.feels_like}}<br/>
                    Maximum Temperature: {{wth.main.temp_max}}<br/>
                    Humidity: {{wth.main.humidity}}<br/>
                </div>
            </div>
            <hr class="my-4" align="center"> 
                {% if ap.stations.0.aqiInfo.category == "Good" %}
                    <p>(0-50) It’s a great day to be active outside.</p>
                {% elif ap.stations.0.aqiInfo.category == "Moderate" %}
                    <p>(51-100) Consider reducing prolonged or heavy outdoor exertion. Watch for symptoms such as coughing or shortness of breath.</p>
                {% elif ap.stations.0.aqiInfo.category == "Unhealthy for Sensitive Groups" %}
                    <p>(101-150) Reduce prolonged or heavy outdoor exertion. Take more breaks, do less intense activities. Watch for symptoms such as coughing or shortness of breath.</p>
                {% elif ap.stations.0.aqiInfo.category == "Unhealthy" %}
                    <p>(151-200) Avoid prolonged or heavy outdoor exertion. Schedule outdoor activities in the morning when ozone is lower. Consider moving activities indoors.</p>
                {% elif ap.stations.0.aqiInfo.category == "Very Unhealthy" %}
                    <p>(201-300) Avoid all physical activity outdoors. Move activities indoors or reschedule to a time when air quality is better..</p>
                {% elif ap.stations.0.aqiInfo.category == "Hazardous" %}
                    <p>(301-500) Avoid all physical activity outdoors.</p>
                {% endif %}
            <hr class="my-4">
            
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="https://air-quality.com/" role="button">Learn more</a>
            </p>
        </div>
    </p>
    <br/>
<!-- {% endif %} -->
{%  endblock  %}